@font-face {
  font-family: eUkraine;
  src: url(font/e-Ukraine-Regular.otf);
  font-weight: regular;
}
@font-face {
  font-family: eUkraine;
  src: url(font/e-Ukraine-Light.otf);
  font-weight: light;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  background: linear-gradient(90deg, #00326b, #0078ff);
  font-family: eUkraine;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player {
  animation: float-left 3s ease-in-out infinite;
  justify-content: flex-end;
  overflow: visible;
}

.creator {
  animation: float-right 3s ease-in-out infinite;
  justify-content: flex-start;
  overflow: visible;
}

.player,
.creator {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 0 32px;
}

.player svg,
.creator svg {
  min-width: 64px;
}

.player .info {
  text-align: right;
}

.player:hover .info,
.creator:hover .info {
  opacity: 1;
}

.info {
  max-width: 300px;
  font-size: 14px;
  opacity: 0;
  transition: opacity ease-in-out .5s;
}

.logo {
  padding: 32px;
  background: #F5F7F8;
  box-shadow: 2px 2px 12px #00326b7a;
  border-radius: 16px;
}

.logo__image {
  width: 128px;
  height: 128px;
}

.description {
  font-size: 16px;
  text-align: center;
  max-width: 800px;
  margin: 32px;
}

.title {
  position: relative;
  font-family: 'Lilita One';
  font-size: 64px;
}

.title__base {
  color: #0057b8;
}

.title__wave {
  color: gold;
  animation: animate 4s ease-in-out infinite;
  position: absolute;
  left: 0;
  top: 0;
}

@keyframes float-left {
	0% {
		transform: translateY(4px);
	}
	50% {
		transform: translateY(-4px);
	}
	100% {
		transform: translateY(4px);
	}
}

@keyframes float-right {
	0% {
		transform: translateY(-4px);
	}
	50% {
		transform: translateY(4px);
	}
	100% {
		transform: translateY(-4px);
	}
}

.download {
  background: #00326b;
  cursor: pointer;
  color: white;
  font-family: 'eUkraine';
  text-decoration: none;
  display: flex;
  flex-direction: column;
  padding: 8px 16px;
  border-radius: 4px;
  outline: none;
}

.download__title {
  margin-bottom: 4px;
}

.download__platform {
  font-size: 10px;
  opacity: .5;
}